<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="COUNTER_FACTORY" class="com.github.ddth.tsc.cassandra.CassandraCounterFactory"
		init-method="init" destroy-method="destroy">
		<property name="hosts">
			<array>
				<!-- add/remove host if needed -->
				<value>localhost</value>
				<value>127.0.0.1</value>
			</array>
		</property>
		<property name="port" value="9042" />
		<property name="keyspace" value="tsc" />
		<property name="tableMetadata" value="tsc_metadata" />
	</bean>

	<bean id="DAO_METADATA" class="bo.CassandraMetadataDao"
		init-method="init" destroy-method="destroy">
		<property name="hosts">
			<array>
				<!-- add/remove host if needed -->
				<value>localhost</value>
				<value>127.0.0.1</value>
			</array>
		</property>
		<property name="port" value="9042" />
		<property name="keyspace" value="tsc" />
	</bean>

	<!-- There must be a bean called API -->
	<bean id="API" class="api.ApiImpl" init-method="init"
		destroy-method="destroy">
		<property name="counterFactory" ref="COUNTER_FACTORY" />
		<property name="metadataDao" ref="DAO_METADATA" />
	</bean>

	<!-- Enable thrift server with -Dthrift.port=<port_number> -->
	<bean id="THRIFT_SERVER" class="global.ThriftApiServer"
		init-method="start" destroy-method="destroy">
		<property name="nonBlockingServer" value="true" />
		<property name="clientTimeoutMillisecs" value="5000" />
		<property name="maxFrameSize" value="1048576" />
		<property name="maxReadBufferSize" value="16777216" />
	</bean>
</beans>
